body {
    padding-top: 50px;

    > .navbar {
        transition: background-color 0.3s ease-in;
    }

    @media (min-width:768px) {
        > .navbar-transparent {
            background-color: transparent;

            .navbar-nav > .open > a {
                background-color: transparent!important;
            }
        }
    }

}

#home {
    padding-top: 0;

    .navbar-brand {
        padding: 13.5px 15px 12.5px;
    }

    .navbar-brand > img {
        display: inline;

        height: 100%;
        margin: 0 10px;
    }
}

.table-of-contents {
    margin-top: 1em;
}

.page-header h1 {
    font-size: 4em;
}

.bs-docs-section {
    margin-top: 50px;

    h1 {
        padding-top: 50px;
    }
}

.bs-component {
    position: relative;

    .modal {
        position: relative;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;

        display: block;
    }

    .modal-dialog {
        width: 90%;
    }

    .popover {
        position: relative;

        display: inline-block;

        width: 220px;
        margin: 20px;
    }
}

#source-button {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;

    font-weight: 700;
}

.nav-tabs {
    margin-bottom: 15px;
}

.progress {
    margin-bottom: 10px;
}
